@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
.title {
    font-size: 28px;
    color: rgba(43, 158, 224, 0.944);
}
.published {
    font-size: 24px;
    color: red;
}
.info {
    background-color:rgb(205, 236, 169);
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 9px -8px 10px -2px rgba(34, 60, 80, 0.18);
    font-family: 'Montserrat', sans-serif;
}